/* - - - - - Animations - - - - - */
@keyframes pulse {
  0%   { transform: scale(1.0); }
  50% { transform: scale(1.6); }
  100% { transform: scale(1.0); }
}



/* - - - - - Clear floats - - - - - */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}



/* - - - - -  Sticky nav section  - - - - - */
#loading-screen {
  z-index: 20;
  position: fixed;
  background: $white;
  transition: all 500ms ease-in-out;
  .loading-bar {
    width: 100%;
    background-color: white;
    padding: 0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    .loading-bar-fill {
      display: block;
      height: 4px;
      background-color: $main-color;
      transition: width 3s ease-in-out;
    }
  }
  .animating-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: calc(100vh - 4px);
    width: 100vw;
    svg {
      opacity: 0;
      transition: all 3.4s ease-in-out;
      path {
        fill: $main-color;
      }
      text {
        fill: $main-color;
      }
    }
  }
}



/* - - - - -  Sticky nav section  - - - - - */
nav#sticky-nav {
  background: $black;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 60px;
  transition: all 200ms ease-in-out;
  top: -60px;
  .wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    .nav-items {
      float: right;
      @media (max-width: 64em) {
        width: 100vw;
        position: absolute;
        left: 0;
        margin-top: -10px;
        background: $black;
        max-height: 0;
        overflow: hidden;
        transition: all 400ms ease-in-out;
      }
      .item {
        margin: 11px 10px;
        display: inline-block;
        border: 2px solid transparent;
        transition: border 400ms ease-in-out;
        @media (max-width: 64em) {
          display: block;
          width: 100vw;
          margin: 0;
          &:last-child {
            margin-bottom: 30px;
          }
        }
        &.active {
          border: 2px solid $main-color;
          @media (max-width: 64em) {
            border-color: transparent;
          }
          a:hover {
            text-decoration: none;
            @media (max-width: 64em) {
              text-decoration: underline;
            }
          }
        }
        a {
          padding: 6px 15px;
          font-size: 16px;
          display: inline-block;
          &:last-child {
            margin-right: 0;
          }
          @media (max-width: 64em) {
            width: 100%;
            display: block;
            text-align: center;
          }
        }
      }

      &.active {;
        max-height: 1000px;
      }
    }
    .toggle {
      display: none;
      position: relative;
      text-align: right;
      margin-top: -3px;
      cursor: pointer;
      svg {
        height: 50px;
        line {
          stroke: $main-color;
        }
      }
      @media (max-width: 64em) {
        display: block;
      }
    }
    svg {
      margin: 9px;
      path {
        fill: $main-color;
      }
    }
  }
}




/* - - - - -  Header section  - - - - - */
header {
  overflow: hidden;
  color: $white;
  padding-bottom: 20px;
  background: black;
  opacity: 0.85;
  overflow: hidden;
  position: relative;
  border-top: 4px solid $main-color;
  padding-top: 20px;
  min-height: 100vh;
  @media (max-width: 64em) {
    height: 100vh;
    padding-top: 0;
    .header-content{
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
    }
  }
  .bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    background-attachment: fixed;
    background-image: url("/assets/img/building-bg.png");
    background-size: cover;
    opacity: 0.06;
    left: 0;
    top: 0;
  }
  .logo {
    margin: 0 5%;
    padding: 0;
    font-size: 30px;
    line-height: 1;
    font-weight: 100;
    a#linkedin {
      float: right;
      display: block;
      transition: all 100ms ease-in-out;
      svg {
        height: 30px;
        margin: 0;

        path#bg {
          fill: rgba($main-color, 0.4);
        }
        g#logo {
          rect, path, circle {
            fill: rgba($white, 0.4);
          }
        }
      }
      &:hover {
        svg {
          path#bg {
            fill: rgba($main-color, 0.8);
          }
          g#logo {
            rect, path, circle {
              fill: rgba($white, 0.8);
            }
          }
        }
      }
    }
    @media (max-width: 64em) {
      display: none;
    }
    a {
      color: white;
      font-weight: 100;
      text-decoration: none;
      span {
        color: $main-color;
      }
    }
  }
  .cta {
    text-align: right;
    @media (max-width: 64em) {
      display: none;
    }
  }
  svg {
    margin: 10% 0 50px 0;
    @media (min-height: 800px) {
      margin: 20% 0 50px 0;
    }
    @media (max-width: 64em) {
      width: 50%;
      height: auto;
      margin: 0;
      text-align: center;
    }
    path {
      fill: rgba($main-color, 0.2);
    }
    text {
      fill: rgba($main-color, 0.2);
    }
  }

  h3 {
    color: $black;
    font-weight: 700;
    letter-spacing: 2px;
  }
  nav {
    margin: 200px 0 100px 0;
    @media (max-width: 64em) {
      margin: 0px 0 20% 0;
    }
    @media (max-height: 800px) {
      margin: 50px 0 100px 0;
    }
    a {
      color: $main-color;
      font-size: 18px;
      font-family: $primary-font;
      text-decoration: none;
      margin: 0 20px;
      padding: 20px;
      transition: color 100ms ease-in-out;
      @media (max-width: 64em) {
        padding: 7px;
        margin: 0;
        font-size: 14px;
      }
      &.btn.normal {
        font-size: 18px;
        @media (max-width: 64em) {
          font-size: 14px;
        }
      }
      &:hover {
        text-decoration: underline;;
      }
    }
  }
  .arrow {
    svg {
      animation: pulse 1s infinite;
      margin-top: 0px;
      width: 30px;
      height: 30px;
      polyline {
        stroke: $main-color;
      }
    }
  }
}




/* - - - - -  About section  - - - - - */
section#about {
  .about-title,
  .about-text {
    padding: 75px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-title {
    background: $main-color;
    color: $white;
    text-align: center;
    @media (max-width: 64em) {
      padding: 15px 0;
      min-height: 15vh;
    }
    h1 {
      font-size: 40px;
      margin: -80px 0 30px 0;
      @media (max-width: 64em) {
        font-size: 30px;
      }
    }
  }
  .avatar {
    border: 4px solid $white;
    border-radius: 50%;
  }
  .about-text {
    background: $white;
    @media (max-width: 64em) {
      padding: 50px 5%;
      min-height: 85vh;
    }
    p {
      font-weight: 400;
      line-height: 1.7;
      color: $second-color;
    }
    hr {
      border: 0;
      background: lighten($black, 70%);
      height: 2px;
    }
    .btn.normal {
      margin: 20px 0 0 0;
      font-size: 16px;
    }
  }
}




/* - - - - -  Projektor section  - - - - - */
section#projects {
  background: $white;
  .header {
    overflow: hidden;
    color: $white;
    background: black;
    opacity: 0.85;
    overflow: hidden;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    @media (max-width: 64em) {
      padding: 25px 0;
    }
    .bg {
      width: 100%;
      position: absolute;
      z-index: -1;
      height: 100%;
      background-attachment: fixed;
      background-image: url("/assets/img/building-bg.png");
      background-size: cover;
      opacity: 0.06;
      left: 0;
      top: 0;
    }
  }
  .prj-item {
    &:hover {
      .prj-img {
        img {
          transform: scale(1.5);
        }
        .img-overlay {
          visibility: visible;
          opacity: 1;
          transition: all 200ms ease-in-out;
        }
      }
    }
    .prj-text {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0;
      margin: 0;
      .inner {
        text-align: center;
        @media (max-width: 64em) {
          padding: 35px 0 10px 0;
        }
        h2{
          line-height: 1.6;
        }
        h3 {
          line-height: 2;
        }
        .btn.normal {
          margin: 10px 0 0 0;
          font-size: 16px;
          @media (max-width: 64em) {
            display: none;
          }
        }
      }
    }
    .prj-img {
      overflow: hidden;
      position: relative;
      text-align: center;
      transition: all 2s ease-in-out;
      @media (max-width: 64em) {
        &:last-child {
          margin-bottom: 5%;
        }
      }
      .img-overlay {
        background: rgba($black, 0.8);
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 24px;
        color: $main-color;
        opacity: 0;
        visibility: hidden;
        transition: all 2s ease-in-out;
        &:hover {
          text-decoration: none;
        }
        &.shown {
          opacity: 1;
          visibility: visible;
        }
        @media (max-width: 64em) {
          width: 90%;
          margin: 0 0 0 5%;
        }
      }
      img {
        width: 100%;
        height: auto;
        margin-bottom: -4px;
        transition: all 3s ease-in-out;
        @media (max-width: 64em) {
          width: 90%;
        }
      }
    }
  }
}





/* - - - - -  Contact section  - - - - - */
section#contact {
  .contact-title,
  .contact-form {
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 75px;
    @media(max-width: 64em) {
      padding: 75px 10px;
    }
    text-align: center;
    min-height: 100vh;
  }
  .contact-title {
    background: $main-color;
    h1, p {
      color: $white;
    }
    h1 {
      font-size: 40px;
      margin: -70px 0 15px  0;
    }
    p {
      a {
        color: white;
        text-decoration: underline;
      }
    }
    p.subtitle {
      color: darken($main-color, 20%);
      font-size: 12px;
      margin: -20px 0 20px 0;
    }
    p.name {
      font-size: 30px;
      margin: 50px 0 10px 0;
      font-weight: 700
    }
    svg#logo-contact {
      margin: 40px 0  0;
      path {
        fill: darken($main-color, 10%);
      }
    }
  }
  .contact-form {
    background: $white;
    #form-messages {
      &.success {
        background: lighten($success, 20%);
        border: 2px solid lighten($success, 10%);
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        margin: 20px 0;
      }
      &.error {
        background: lighten($error, 20%);
        border: 2px solid lighten($error, 10%);
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        margin: 20px 0;
      }
    }
    .form-grp {
      width: 100%;
      position: relative;
      label {
        position: absolute;
        top: 32px;
        left: 11px;
        color: lighten($black, 50%);
        transition: all 200ms ease-in-out;
      }
      input[type='text'],
      input[type='email'],
      textarea {
        width: 100%;
        border: 2px solid transparent;
        padding: 10px;
        margin: 20px 0;
        &:focus {
          outline: none;
          border: 2px solid $main-color;
          ~ label {
            top: -10px;
          }
        }
      }
      textarea {
        resize: vertical;
      }
    }
  }
}




/* - - - - -  Footer section  - - - - - */
footer {
  overflow: hidden;
  color: $white;
  padding-bottom: 20px;
  background: black;
  opacity: 0.85;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  .bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    background-attachment: fixed;
    background-image: url("/assets/img/building-bg.png");
    background-size: cover;
    opacity: 0.06;
    left: 0;
    top: 0;
  }
  svg {
    margin-top: 20px;
  }
  .nav {
    padding: 0 5%;
    nav {
      @media (max-width: 64em) {
        text-align: center;
      }
      a {
        color: $black;
        padding: 0 10px;
        line-height: 90px;
        &:first-child {
          padding-left: 0;
        }
        &:hover {
          color: $main-color;
          text-decoration: none;
        }
      }
    }
  }
  .name {
    padding: 0 5%;
    text-align: right;
    span {
      color: rgba($main-color, 0.4);
    }
    @media (max-width: 64em) {
      text-align: center;
    }
    h1 {
      color: $black;
    }
    p {
      color: $black;
      font-size: 14px;
      margin-top: -20px;
    }
  }
}
