/* - - - - - Background - - - - - */



/* - - - - -  Header section  - - - - - */
header {
  overflow: hidden;
  color: $white;
  padding-bottom: 20px;
  background: black;
  opacity: 0.85;
  overflow: hidden;
  position: relative;
  border-top: 4px solid $main-color;
  padding-top: 20px;
  @media (max-width: 64em) {
    height: 100vh;
    padding-top: 0;
    .header-content{
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
    }
  }
  .bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    background-attachment: fixed;
    background-image: url("/assets/img/building-bg.png");
    opacity: 0.06;
    left: 0;
    top: 0;
  }
  .logo {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 1;
    font-weight: 100;
    span {
      color: $main-color;
    }
  }
  .cta {
    text-align: right;
    @media (max-width: 64em) {
      display: none;
    }
  }
  svg {
    margin: 100px 0 50px 0;
    width: 60%;
    height: auto;
    @media (max-width: 64em) {
      margin: 0;
      text-align: center;
    }
    path {
      fill: rgba($main-color, 0.2);
    }
  }
  nav {
    margin: 50px 0 100px 0;
    @media (max-width: 64em) {
      margin: 0 0 30px 0;
    }
    a {
      color: $main-color;
      font-size: 14px;
      font-family: $primary-font;
      text-decoration: none;
      margin: 0 10px;
      padding: 20px;
      transition: color 100ms ease-in-out;
      @media (max-width: 64em) {
        padding: 7px;
        margin: 0;
      }
      &:hover {
        text-decoration: underline;;
      }
    }
  }
}


/* - - - - -  About section  - - - - - */
section#about {
  .about-title,
  .about-text {
    padding: 75px;
  }
  .about-title {
    background: $main-color;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-width: 64em) {
      padding: 15px 0;
    }
    h1 {
      font-size: 40px;
      @media (max-width: 64em) {
        font-size: 30px;
      }
    }
  }
  .about-text {
    background: $white;
    @media (max-width: 64em) {
      padding: 50px 5%;
    }
    p {
      font-weight: 100;
      line-height: 1.7;
      color: $second-color;
    }
    hr {
      border: 0;
      background: lighten($black, 70%);
      height: 2px;
    }
    .btn.normal {
      margin: 20px 0 0 0;
      font-size: 16px;
    }
  }
}


/* - - - - -  Projektor section  - - - - - */
section#portfolio {
  .header {
    overflow: hidden;
    color: $white;
    background: black;
    opacity: 0.85;
    overflow: hidden;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    .bg {
      width: 100%;
      position: absolute;
      z-index: -1;
      height: 100%;
      background-attachment: fixed;
      background-image: url("/assets/img/building-bg.png");
      opacity: 0.06;
      left: 0;
      top: 0;
    }
  }
  .projects {
    .prj-text {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0;
      margin: 0;
      .inner {
        text-align: center;
        h2{
          line-height: 1.6;
        }
        h3 {
          line-height: 2;
        }
        .btn.normal {
          margin: 10px 0 0 0;
          font-size: 16px;
        }
      }
    }
    .prj-img {
      img {
        width: 100%;
        height: auto;
        margin-bottom: -4px;
      }
    }
  }
}



/* - - - - -  Contact section  - - - - - */
section#contact {
  background: $main-color;
  padding: 75px 0;
  text-align: center;
  h1, p {
    color: $white;
  }
  h1 {
    font-size: 40px;
  }
  p {
    a {
      color: white;
      text-decoration: underline;
    }
  }
  p.subtitle {
    color: darken($main-color, 20%);
    font-size: 12px;
    margin: -20px 0 20px 0;
  }
  p.name {
    font-size: 30px;
    margin: 50px 0 10px 0;
    font-weight: 700
  }
  svg#logo-contact {
    margin: 20px 0 0 0;
    path {
      fill: darken($main-color, 10%);
    }
  }
}



/* - - - - -  Footer section  - - - - - */
footer {
  overflow: hidden;
  color: $white;
  padding-bottom: 20px;
  background: black;
  opacity: 0.85;
  overflow: hidden;
  position: relative;
  border-top: 4px solid $main-color;
  padding-top: 20px;
  .bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    background-attachment: fixed;
    background-image: url("/assets/img/building-bg.png");
    opacity: 0.06;
    left: 0;
    top: 0;
  }
  .nav {
    padding: 0 5%;
    nav {
      a {
        color: $black;
        padding: 0 10px;
        line-height: 90px;
        &:first-child {
          padding-left: 0;
        }
        &:hover {
          color: $main-color;
          text-decoration: none;
        }
      }
    }
  }
  .name {
    padding: 0 5%;
    text-align: right;
    h1 {
      color: $black;
    }
  }
}
